html
	head
		meta(charset="utf-8")
		block title
			title Test
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

	body
		.canvas-wrapper(style="display: none;")
			canvas#webgl
			.fps
		.canvas-wrapper(style="display: none;")
			canvas#webgl2
			.fps
		.canvas-wrapper(style="display: none;")
			canvas#webgpu
			//- .fps
		.canvas-wrapper(style="display: none;")
			canvas#offscreen
