body
{
	margin: 0;
	background-color: darkgrey;
}

canvas
{
	// position: absolute;
	// left: 0;
	// top: 0;
	// width: 100%;
	// height: 100%;
	width: 0;
	height: 0;
}

.canvas-wrapper
{
	// position: absolute;
	// width: 33.333333%;
	// // width: 100%;
	// height: 100%;
	// left: 0;
	// top: 0;
	width: fit-content;
	height: fit-content;
	border: 1px solid black;

	// &:nth-of-type(2)
	// {
	// 	left: 33.333333%;
	// }

	// &:nth-of-type(3)
	// {
	// 	left: 66.666666%;
	// }
}

.fps
{
	position: absolute;
	left: 0;
	top: 0;
	color: black;
	background-color: white;
}
